# This change is only necessary if you do not want forticlient to register two IP addresses to your internal DNS server. By default Forticlient will register both, the external adapter IP address and the tunnel interface IP address. 
<ipsecvpn>
  <options>
    <no_dns_registration>2</no_dns_registration>
  </options>
  ..........
</ipsecvpn





<no_dns_registration>
When this setting is 0, FortiClient registers the IPsec VPN adapter's address in the Active Directory (AD) DNS server.
When this setting is 1, FortiClient does not register the IPsec VPN adapter's address in the AD DNS server.
When this setting is 2, FortiClient registers only its own tunnel interface IP address in the AD DNS server.
