config system interface
    edit "testDHCP"
        set vdom "root"
        set dhcp-relay-service enable
        set ip 10.100.100.1 255.255.255.255
        set type tunnel
        set remote-ip 10.100.100.1 255.255.255.255
        set snmp-index 17
        set dhcp-relay-ip <External DHCP server IP> 
        set dhcp-relay-type ipsec
        set interface "wan1" <Parent interface of the IPsec tunnel interface>
    next
end
