config vpn ipsec phase1-interface
    edit "testDHCP"
        set assign-ip enable
        set assign-ip-from dhcp
        set dhcp-ra-giaddr <IP address of the VPN gateway, this ip will be the source of your DHCP requests, so the DHCP server can identify the subnet from which the DHCP requests are coming from>
    next 
end  
